{% extends 'base.html' %}
{% block content %}

    <h4 class="welcome">Here is the list of all the airlines:</h4>
    <hr>

    {% for airline in airline_list %}
    
    <div class="container py-1">
        <div class="row text-center">
            <div class="col-sm-12 ">
                <div class="bg-transparent rounded shadow-sm py-3 px-4 border-bg">
                <h5 class="mb-0 "><kbd>{{ airline.airline }}</kbd></h5>
                <hr>
                <a href="{% url 'airline_detail' airline.id %}"><button class="btn-warning">Details</button></a>
                </div>
            </div>
     {% endfor %}
        </div>
    </div>  
{% endblock %}











