body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-image: url('https://images.unsplash.com/photo-1446822679794-fbd084d10491?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80');
    background-size: cover;
    
  }
  

  main {
    flex: 1 0 auto;
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: center;
    background-color: blanchedalmond;
  }

  .navbar {
    margin-top: 10px;
    border: 1px solid #ecd96c;;
    
  }

  .nav-item:hover{
      background-color:  #ecd96c;
  }

 

  .card {
      background-color: blanchedalmond;
  }

  .welcome{
      margin-top: 30px;
      color:#f17a43;;
  }

  .text {
    color:#f17a43;
  }



.bigicon {
    font-size: 23px;
    color: #f17a43;
}

.btn-warning{
    border-radius: 30px;
    color: blanchedalmond;
}

.btn-warning a{
    color: whitesmoke;
}


  